@tailwind base;
@tailwind components;
@tailwind utilities;


.square {
	width: 100px;
	height: 100px;
	background: grey;
	transform: rotateY(45deg);
	animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}


.bg1{
  background-color: #ef4444;
}

.bg2{
  background-color: #eab308;
}
.bg3{
  background-color: #3b82f6;
}
.bg4{
  background-color: #71717a;
}
.bg5{
  background-color: #64748b;
}
.bg6{
  background-color: #f97316;
}
.bg7{
  background-color: #f97316;
}
.bg8{
  background-color: #a855f7;
}
.bg9{
  background-color: #ec4899;
}
.bg0{
  background-color: #f43f5e;
}

.sidebar {
height: 100vh;
  
}

.font18{
font-size: 100px;
}



.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

.logo {
  height: 50px;
  margin-left: 1rem;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  /* width: 21cm; */
  min-height: 29.7cm;
  padding: 1cm;
  /* margin: 1cm auto; */
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  /* padding: 1cm; */

  /* outline: 2cm #030303 solid; */
}

@page {
  /* size: A4; */
  margin: 5;
}
@media print {
  .page {
      margin: 100;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }

  .noPrint, .noPrint *
    {
        display: none !important;
    }
}


.box {
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.MyBorder{
  background: #fff; /* white background */
  border-radius: 10px; /* rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
  margin: 20px auto; /* center */
}

.MyBorder3{
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 10px;
}


.MyBorder2{
  border: 1px solid #cbd5e1;
}

.box2 {
  height:7000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}




/*  */
.columns-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 23%; /* Adjust as needed */
  padding: 10px;
  box-sizing: border-box;
}

.item {
  margin-bottom: 10px;
}

.slanted {
  font-size: 20px;
  text-transform: uppercase;
  /* transform: rotate(-5deg)
             skew(-5deg); */
  background-color: #ffc;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-red{
  background-color: #ef4444;
}

.font1{
  font-size: 11px;
}


.font2{
  font-size: 12px;
}



.font3{
  font-size: 16px;
}


/* TABLE */
/* Center tables for demo
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}


/* th,
td {
  padding: 5px;
}
table, th, td {
  border: 1px solid;
} */



.MyTableBorder{
  border: 1px solid;
}

@media print {
    .container {
      break-inside: avoid;
      width: 100%;
      padding: 5px;
   
    }
    table{
      table-layout: fixed;
      width: 100%;
    }
}

